{% extends 'base.html' %}

{% block head %}
    <script>
        $(function () {

            $('#showButton').on('click', show);
            $('#awareButton').on('click', aware);
            $('#forgotButton').on('click', forgot);
            $('.resetMeaning').on('click', resetMeaning);

            $(document).keyup(function (event) {
                if ($('#answer').hasClass('invisible')) {
                    if (event.which == 38 /* up arrow */) {
                        return show();
                    }
                }
                else {
                    if (event.which == 37 /* left arrow */) {
                        return aware();
                    }
                    else if (event.which == 39 /* right arrow */) {
                        return forgot();
                    }
                }
            });

            function show() {
                $('#answer').removeClass('invisible')
                $('#questionPhase').hide();
                $('#answerPhase').removeClass('hidden');
                $('#related_terms').removeClass('hidden');
                $('#status').hide();
            }

            function aware() {
                window.location.href = '{% url 'aware' study.id %}';
            }

            function forgot() {
                window.location.href = '{% url 'forgot' study.id %}';
            }

            function resetMeaning() {
                if (confirm('이 단어의 뜻에 해당하는 학습을 초기 상태로 변경하시겠습니까?')) {
                    $.getJSON('{% url 'reset_meaning' study.id %}', function (data) {
                        if (data.result) {
                            alert('초기 상태로 변경되었습니다.');
                            return;
                        }
                    })
                    .fail(function () {
                        alert('알 수 없는 오류가 발생하였습니다.');
                    });
                }
            }

            $('.kanzi').click(function (event) {
                window.open('{% url 'search' book_id %}?k=' + $(this).text(), '_blank');
            });
        });
    </script>

    <style>
        .vertical-center {
            min-width: 100%;
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */

            display: flex;
            align-items: center;
        }

        .footer-desc {
            position: absolute;
            right: 15px;
            bottom: 1.5em;
            padding-left: 2em;
            text-align: right;
        }

        .kanzi {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="vertical-center">
        <div class="container">
            <div>
                <h1 class="text-center">
                    {% autoescape off %}
                    {{ question }}
                    {% endautoescape %}
                </h1>
            </div>
            <div>
                {% autoescape off %}
                <h4 class="text-center text-muted">{{ question_ex }}</h4>
                {% endautoescape %}
            </div>

            <div id="answer" class="text-center invisible" style="margin-top:3em;">
                <div>
                    <h2 class="text-primary">
                        <div>
                            {% autoescape off %}
                            {{ answer }}
                            {% endautoescape %}
                        </div>
                        {% if study.word.pronunciation %}
                        <div style="margin-top: 0em;">
                            <small {% if can_reset_meaning %} class="resetMeaning" {% endif %}>[{{ study.word.pronunciation }}]</small>
                        </div>
                        {% endif %}
                    </h2>
                </div>
                <div>
                    {% autoescape off %}
                    <h4 class="text-muted">{{ answer_ex }}</h4>
                    {% endautoescape %}
                </div>
                {% if note %}
                <p class="text-danger" style="margin-top:2em;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ note }}</p>
                {% endif %}
            </div>
            <div style="margin-top: 5em; margin-bottom: 3em;">
                <div id="questionPhase" class="text-center">
                    <button id="showButton" class="btn btn-lg btn-info" type="button">Show reminders [↑]</button>
                </div>
                <div id="answerPhase" class="hidden text-center">
                    <button id="awareButton" class="btn btn-lg btn-success" type="button">Remember [←]</button>
                    <button id="forgotButton" class="btn btn-lg btn-danger" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Forget [→]&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

    <div id="status" class="text-muted footer-desc">
        <small>{{ remain_count }} words / {{ study.memory.step }} step / {{ study.memory.group_level }} level</small>
    </div>

    <div id="related_terms" class="text-muted hidden footer-desc">
        <small>
            {% autoescape off %}
            {{ study.word.string_with_naver_link }}
            {% if study.word.related.all %}
                / [관]
                {% for word in study.word.related.all %}
                    {{ word.string_with_link }}
                {% endfor %}
            {% endif %}
            {% if study.word.synonym.all %}
                / [유]
                {% for word in study.word.synonym.all %}
                    {{ word.string_with_link }}
                {% endfor %}
            {% endif %}
            {% if study.word.antonym.all %}
                / [반]
                {% for word in study.word.antonym.all %}
                    {{ word.string_with_link }}
                {% endfor %}
            {% endif %}
            {% endautoescape %}
        </small>
    </div>
{% endblock %}
